$colorWhite: #ffffff;
$colorBrown:#585858;
$fontLobster:'Lobster', cursive;
$fontsize: 50px;
$fontSize:22px;
$hoverColor:red;
$colorBlack: #000000;
$sectionpadding:40px 0 40px 0;
$colorOrange: #e99384;